# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.car-rent-backend.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\lukas\Documents\Schule\4. Semester\Architektur\Testat\car-rent\source\car-rent-backend\.idea\.idea.car-rent-backend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
